<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X_Clone</title>
    <link rel="shortcut icon" href="https://abs.twimg.com/favicons/twitter-pip.3.ico">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/output.css">
</head>

<body class="bg-black text-white">
    <div class="flex md:container mx-auto">
        <div class="first w-10 md:w-[70%]">

            <div class="sidebar flex flex-col items-end sticky top-0">
                <div class="logo invert self-start md:ml-52">
                    <svg viewBox="0 0 24 24" aria-hidden="true"
                        class="m-auto w-9 r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-18jsvk2 r-16y2uox r-8kz0gk">
                        <g>
                            <path
                                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                            </path>
                        </g>
                    </svg>
                </div>

                <ul class="text-xl space-y-3 w-[65%] md:w-fit font-bold">
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">home</span><span class="hidden md:block">Home</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">search</span><span
                            class="hidden md:block">Explore</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">notifications</span><span
                            class="hidden md:block">Notifications</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">mail</span><span class="hidden md:block">Messages</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">box</span><span class="hidden md:block">Grok</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">list_alt</span><span
                            class="hidden md:block">Lists</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">credit_card</span><span
                            class="hidden md:block">Premium</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">person</span><span
                            class="hidden md:block">Profile</span>
                    </li>
                    <li
                        class="flex md:justify-start items-center mr-4 gap-3 justify-center md:w-fit md:px-5 py-2 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full">
                        <span class="material-symbols-outlined">more</span><span class="hidden md:block">More</span>
                    </li>
                    <li>
                        <div class="button w-full text-center my-4">
                            <button
                                class="bg-blue-600 hidden md:block text-white px-16 py-4 text-xl rounded-full">Post</button>
                        
                        <div class="button w-fit my-4 mr-2">
                            <button class="bg-blue-600 md:hidden text-white px-[0.5px] py-[0.5px] rounded-full">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                        </div>
                        </div>
                        <div class="userprofile hidden md:flex justify-end ">
                            <div class="item rounded-full p-3 px-3 w-fit flex items-center gap-5 justify-center hover:cursor-pointer hover:bg-gray-800">
                        
                                <div class="p1 w-12 p-1"><img src="https://pbs.twimg.com/profile_images/1751310662930923520/v7BnR7P6_bigger.png" alt="" srcset=""></div>
                                <div class="p2">
                                  <div class="text-sm text-bold">Manepally Hari</div>
                                  <div class="text-gray-500 text-sm">@hari_manepalli</div>
                                </div>
                                
                             
              
                              </div>
                        </div>
                        
            </div>
            </li>
            
            
    
            </ul>
           
       

        </div>
        <div class="second w-full border border-x-gray-500 border-y-black">

            <div class="top flex p-3 sticky top-0 bg-black backdrop-blur-3xl opacity-80 ">
                <div class="absolute w-12 h-1 bg-blue-500 rounded-full bottom-0 left-[20%]"></div>
                <div class="left w-1/2 flex justify-center font-bold text-sm">For you</div>
                <div class="right w-1/2 flex justify-center font-bold text-sm">Following</div>
                <div class="settings mx-2"><span class="material-symbols-outlined">settings</span></div>
            </div>
            <div class="h-[1px] w-full bg-gray-700"></div>
            <div class="whatishapp flex gap-3 my-3">
                <div class="img m-2 w-16 rounded-full">
                    <img src="https://pbs.twimg.com/profile_images/1751310662930923520/v7BnR7P6_bigger.png" alt="">
                </div>
                <div class="w-full">
                    <input type="text" class="bg-black text-white w-full outline-none h-7 my-3 text-xl"
                        placeholder="What is happening?!">
                    <div class="text-blue-600 flex  items-center gap-2 w-full my-4"><span
                            class="material-symbols-outlined">
                            globe_asia
                        </span>
                        <span>Everyone Can reply</span>
                    </div>
                    <div class="h-[0.2px] w-[90%] bg-gray-400 my-3"></div>
                    <div class="flex justify-between items-center">
                    <div class="blueicons flex gap-2 text-blue-600">
                        <span class="material-symbols-outlined cursor-pointer">
                            image
                        </span>
                        <span class="material-symbols-outlined cursor-pointer">
                            gif
                        </span>
                        <span class="material-symbols-outlined cursor-pointer">
                            ballot
                        </span>
                        <span class="material-symbols-outlined cursor-pointer">
                            sentiment_satisfied
                        </span>
                        <span class="material-symbols-outlined cursor-pointer">
                            calendar_month
                        </span>
                        <span class="material-symbols-outlined cursor-pointer">
                            pin_drop
                        </span>
                        </div>
                        <button
                                class="bg-blue-600 px-8 mx-3 text-sm text-white py-3 rounded-full">Post</button>
                
                    </div>
                </div>

            </div>
            <div class="h-[1px] w-full bg-gray-500"></div>

            <div class="posts m-3">
                <div class="post">
                    <div class="up">
                        <div class="flex">
                            <div class="image w-14 rounded-xl">
                                <img src="https://pbs.twimg.com/profile_images/1700051019525488640/VRqy0bTE_bigger.jpg"
                                    alt="">
                            </div>
                            <div class="content px-3">
                                <span class="text-bold hover:underline ">Narendra Modi</span><span
                                    class="text-gray-500">@narendramodi .13h</span>
                                <div>Jai Shree Ram</div>
                            </div>
                        </div>

                    </div>
                    <div class="down m-4">

                        <div class="postimg">
                            <img class="rounded-xl"
                                src="https://pbs.twimg.com/media/GEdrU72WkAArB5v?format=jpg&name=small" alt="">
                        </div>
                        <div class="icons my-2 flex justify-between text-gray-400">
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    chat_bubble
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-green-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    repeat
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-pink-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    favorite
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-500 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    bar_chart
                                </span>1k</div>
                        </div>
                    </div>
                </div>
                <div class="h-[1px] w-full bg-gray-500"></div>
                <div class="post my-2">
                    <div class="up">
                        <div class="flex">
                            <div class="image w-14">
                                <img src="https://pbs.twimg.com/profile_images/1559124414251565056/ud3MXsiZ_bigger.jpg"
                                    alt="">
                            </div>
                            <div class="content px-3">
                                <span class="text-bold hover:underline ">Rishab Pant</span><span
                                    class="text-gray-500">@rishabpant .17h</span>
                                <div>Waiting for Comeback</div>
                            </div>
                        </div>

                    </div>
                    <div class="down m-4">

                        <div class="postimg">
                            <img class="rounded-xl"
                                src="https://pbs.twimg.com/media/GEcG46EWYAAxUAU?format=jpg&name=small" alt="">
                        </div>
                        <div class="icons my-2 flex justify-between text-gray-400">
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    chat_bubble
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-green-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    repeat
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-pink-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    favorite
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-500 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    bar_chart
                                </span>1k</div>
                        </div>
                    </div>
                </div>
                <div class="h-[1px] w-full bg-gray-500"></div>
                <div class="post my-2">
                    <div class="up">
                        <div class="flex">
                            <div class="image w-14">
                                <img src="https://pbs.twimg.com/profile_images/1677636815606648832/axEaSSRr_bigger.jpg"
                                    alt="">
                            </div>
                            <div class="content px-3">
                                <span class="text-bold hover:underline ">Sachin Tendulkar</span><span
                                    class="text-gray-500">@sachintendulkar .20h</span>
                                <div>Happy Republic day</div>
                            </div>
                        </div>

                    </div>
                    <div class="down m-4">

                      
                        <div class="icons my-2 flex justify-between text-gray-400">
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    chat_bubble
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-green-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    repeat
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-pink-600 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    favorite
                                </span>1k</div>
                            <div
                                class="icon flex items-center justify-center p-1 hover:bg-gray-900 hover:text-blue-500 hover:rounded-full hover:cursor-pointer">
                                <span class="material-symbols-outlined">
                                    bar_chart
                                </span>1k</div>
                        </div>
                    </div>
                </div>
                <div class="h-[1px] w-full bg-gray-500"></div>
            </div>

        </div>
        <div class="third w-full hidden md:block relative">
            <div class="search m-3">
                <input type="text" class="w-1/2 rounded-full bg-gray-900 px-4 py-2 text-white" placeholder="search">
            </div>

            <div class="whats sticky top-0 m-3 bg-[#16181c] w-1/2 py-3 rounded-xl space-y-1">
                <h1 class="text-xl font-bold px-3">What's Happening</h1>
                <div class="item hover:bg-gray-800 hover:cursor-pointer px-3 p-1">
                    <div class="text-sm text-gray-200">Trending in India</div>
                    <div class="font-bold">#Orry</div>
                    <div class="text-sm text-gray-200">30.30k Posts</div>
                </div>
                <div class="item hover:bg-gray-800 hover:cursor-pointer px-3 p-1">
                    <div class="text-sm text-gray-200">Sports</div>
                    <div class="font-bold">#Bazball</div>
                    <div class="text-sm text-gray-200">69.69k Posts</div>
                </div>
                <div class="item hover:bg-gray-800 hover:cursor-pointer px-3 p-1">
                    <div class="text-sm text-gray-200">Entertainment</div>
                    <div class="font-bold">#Hanu-Man</div>
                    <div class="text-sm text-gray-200">50.40k Posts</div>
                </div>
             </div>


            <div class="who sticky top-[41vh] m-3 bg-[#16181c] w-1/2 py-3 rounded-xl space-y-1">
                <h1 class="text-xl font-bold px-3">Who to follow </h1>
                <div class="item p-3 px-3  flex items-center justify-between hover:cursor-pointer hover:bg-gray-800">
                  <div class="flex gap-3">
                  <div class="p1 w-12 p-1 rounded-full"><img src="https://pbs.twimg.com/profile_images/1134090740592627712/0Fp-U5-p_bigger.png" alt="" srcset=""></div>
                  <div class="p2">
                    <div>PMO India</div>
                    <div class="text-gray-500">@PMOIndia</div>
                  </div>
                  </div>
                  <div class="p3">
                    <button class="text-black bg-white px-5 py-2 font-bold rounded-full">Follow</button>
                  </div>

                </div>
                <div class="item p-3 px-3  flex items-center justify-between hover:cursor-pointer hover:bg-gray-800">
                    <div class="flex gap-3">
                    <div class="p1 w-12 p-1"><img src="https://pbs.twimg.com/profile_images/1562753500726976514/EPSUNyR3_bigger.jpg" alt="" srcset=""></div>
                    <div class="p2">
                      <div>Virat Kohli</div>
                      <div class="text-gray-500">@imKohli</div>
                    </div>
                    </div>
                    <div class="p3">
                      <button class="text-black bg-white px-5 py-2 font-bold rounded-full">Follow</button>
                    </div>
  
                  </div>
                  <div class="item p-3 px-3  flex items-center justify-between hover:cursor-pointer hover:bg-gray-800 ">
                    <div class="flex gap-3">
                    <div class="p1 w-12 p-1"><img src="https://pbs.twimg.com/profile_images/1591417088551571456/R3-aOZhl_bigger.jpg" alt="" srcset=""></div>
                    <div class="p2">
                      <div>Revanth Reddy</div>
                      <div class="text-gray-500">@revanth_r</div>
                    </div>
                    </div>
                    <div class="p3">
                      <button class="text-black bg-white px-5 py-2 font-bold rounded-full">Follow</button>
                    </div>
  
                  </div>
                <div class="px-3 text-blue-800 cursor-pointer hover:underline">
                    Show more
                </div>
            </div>
            <div class="terms absolute bottom-0 m-3 text-xs text-gray-500 px-3 w-1/2 py-5">
                  <span class="text-xs hover:cursor-pointer hover:underline">Terms of Service</span>
                  <span class="text-xs hover:cursor-pointer hover:underline">Privacy Policy</span>
                  <span class="text-xs hover:cursor-pointer hover:underline">Cookie Policy</span>
                  <span class="text-xs hover:cursor-pointer hover:underline">Accessibiliy</span>
                  <span class="text-xs hover:cursor-pointer hover:underline">Add info</span>
                  <span class="text-xs hover:cursor-pointer hover:underline">More</span>

            </div>
        </div>



    </div>

</body>

</html>